@import "../lib/bootstrap/scss/bootstrap";

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

$colors-palets: (
    bg-dark: #212529,
    bg-light: #ededed,
    primary-rose: #dc3545
);

$db-dark: map-get($colors-palets , bg-dark );
$db-light: map-get($colors-palets , bg-light );
$primary-rose: map-get($colors-palets , primary-rose );

body {
    background-color: $db-light;
    font-family: Roboto;
    .navbar__item {
        transition: all 500ms;
        font-weight: bold;
        &:hover {
            color: $primary-rose !important;
            transform: scale(1.03);
        }
    }    
    .home__gallery {
        max-width: 600px;
        .home__gallery__item {
            transition: all 500ms;
            border-radius: 20em;
            &:hover {
                transform: scale(1.03);
            }
        }
    }
    .gallery__gallery__item__sm {
        transition: all 500ms;

        &:hover {
            transform: scale(1.05);
        }
    }
    .service__item {
        transition: all 500ms;
    }
    .text-danger {
        font-weight: bold;
    }
}

@media (min-width: 992px){
    .gallery__gallery__item__sm{
        max-width: 33%;
    }
}

@media (min-width: 768px){
    .contact_us__form{
        max-width: 40.75em;
    }    
}

@media (min-width: 576px){
    .service__item:hover{
        transform: scale(1.05);
    } 
}
