@import "base/reset.scss";
@import "base/fonts.scss";
@import "components/navbar";
@import "components/footer";
@import "components/gallery";
@import "components/services";
@import "base/bootstrap";
@import "../lib/bootstrap/scss/bootstrap";


body {
    background-color: $light;

    
    /*Index  */
    .home__gallery {
        max-width: 600px;

        .home__gallery__item {
            transition: all 500ms;

            &:hover {
                transform: scale(1.10);
            }
        }
    }
}

@media (min-width: 992px) {
    .gallery__gallery__item__sm {
        max-width: 33%;
    }
}

@media (min-width: 768px) {
    .contact_us__form {
        max-width: 40.75em;
    }
}

@media (min-width: 576px) {
    .service__item:hover {
        transform: scale(1.05);
    }
}